* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; /* Keeps padding and border within element's dimensions */
    font-size: .9259259259vw;   /* For 1200 screens */
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
  }
/* Set the root font size to 16px */
html {
  font-size: 16px;
}

/* Normalize - Consistently styles elements across browsers */
/* Example using a link to normalize.css */
/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
}

/* List Styles */
ul, ol {
  list-style: none; /* Remove bullet points from list items */
}

/* Typography Styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* Heading Margins */
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

/* Basic Box Sizing for All Elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Apply overflow hidden to specific elements that might have scrollbars */
body,
div,
section,
article,
aside,
nav,
ul,
ol,
dl,
table,
fieldset {
  overflow: hidden;
}

/* Scrollbar styles (optional) */
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

/* Media Breakpoints */
@media (max-width: 576px) {
  /* Adjust styles for mobile */
  h1 { font-size: 2rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.25rem; }
  h4 { font-size: 1rem; }
  h5 { font-size: 0.875rem; }
  h6 { font-size: 0.75rem; }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* Tablet Portrait styles */
  h1 { font-size: 2.25rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.125rem; }
  h4 { font-size: 1rem; }
  h5 { font-size: 0.875rem; }
  h6 { font-size: 0.75rem; }
}

@media (min-width: 769px) and (max-width: 992px) {
  /* Tablet Landscape styles */
  h1 { font-size: 2.75rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.125rem; }
  h5 { font-size: 1rem; }
  h6 { font-size: 0.875rem; }
}

@media (min-width: 993px) and (max-width: 1200px) {
  /* Desktop styles */
  h1 { font-size: 3rem; }
  h2 { font-size: 2.5rem; }
  h3 { font-size: 1.75rem; }
  h4 { font-size: 1.25rem; }
  h5 { font-size: 1.125rem; }
  h6 { font-size: 1rem; }
}

@media (min-width: 1201px) {
  /* Large Desktop styles */
  h1 { font-size: 3.5rem; }
  h2 { font-size: 3rem; }
  h3 { font-size: 2rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.25rem; }
  h6 { font-size: 1.125rem; }
}
