$x-gutter-s:5vw;
$x-gutter-l:2vw;
$orange-color:#CF5C09;

// NAVBAR
$navbar-height-s:8vh;
$navbar-height-l:8vh;
$logoHeight-s:4.5vh;
$logoHeight-l:6vh;
$navbar-padding-s:.8vh;
$navbar-padding-l:1vh;
$hamburger-icon-height:2.5rem;